In [15]:
# Dependencies 
import pandas as pd
import numpy as np
import os
import glob

In [16]:
# Import bike trip source data (csv files)

tripdata_201801 = 'JC-201801-citibike-tripdata.csv'
tripdata_201802 = 'JC-201802-citibike-tripdata.csv'
tripdata_201803 = 'JC-201803-citibike-tripdata.csv'
tripdata_201804 = 'JC-201804-citibike-tripdata.csv'
tripdata_201805 = 'JC-201805-citibike-tripdata.csv'
tripdata_201806 = 'JC-201806-citibike-tripdata.csv'
tripdata_201807 = 'JC-201807-citibike-tripdata.csv'
tripdata_201808 = 'JC-201808-citibike-tripdata.csv'
tripdata_201809 = 'JC-201809-citibike-tripdata.csv'
tripdata_201810 = 'JC-201810-citibike-tripdata.csv'
tripdata_201811 = 'JC-201811-citibike-tripdata.csv'
tripdata_201812 = 'JC-201812-citibike-tripdata.csv'
tripdata_201901 = 'JC-201901-citibike-tripdata.csv'
tripdata_201902 = 'JC-201902-citibike-tripdata.csv'
tripdata_201903 = 'JC-201903-citibike-tripdata.csv'
tripdata_201904 = 'JC-201904-citibike-tripdata.csv'
tripdata_201905 = 'JC-201905-citibike-tripdata.csv'
tripdata_201906 = 'JC-201906-citibike-tripdata.csv'
tripdata_201907 = 'JC-201907-citibike-tripdata.csv'

# Convert bike trip source data csv to data frames
tripdata_201801_df = pd.read_csv(tripdata_201801, encoding="ISO-8859-1")
tripdata_201802_df = pd.read_csv(tripdata_201802, encoding="ISO-8859-1")
tripdata_201803_df = pd.read_csv(tripdata_201803, encoding="ISO-8859-1")
tripdata_201804_df = pd.read_csv(tripdata_201804, encoding="ISO-8859-1")
tripdata_201805_df = pd.read_csv(tripdata_201805, encoding="ISO-8859-1")
tripdata_201806_df = pd.read_csv(tripdata_201806, encoding="ISO-8859-1")
tripdata_201807_df = pd.read_csv(tripdata_201807, encoding="ISO-8859-1")
tripdata_201808_df = pd.read_csv(tripdata_201808, encoding="ISO-8859-1")
tripdata_201809_df = pd.read_csv(tripdata_201809, encoding="ISO-8859-1")
tripdata_201810_df = pd.read_csv(tripdata_201810, encoding="ISO-8859-1")
tripdata_201811_df = pd.read_csv(tripdata_201811, encoding="ISO-8859-1")
tripdata_201812_df = pd.read_csv(tripdata_201812, encoding="ISO-8859-1")
tripdata_201901_df = pd.read_csv(tripdata_201901, encoding="ISO-8859-1")
tripdata_201902_df = pd.read_csv(tripdata_201902, encoding="ISO-8859-1")
tripdata_201903_df = pd.read_csv(tripdata_201903, encoding="ISO-8859-1")
tripdata_201904_df = pd.read_csv(tripdata_201904, encoding="ISO-8859-1")
tripdata_201905_df = pd.read_csv(tripdata_201905, encoding="ISO-8859-1")
tripdata_201906_df = pd.read_csv(tripdata_201906, encoding="ISO-8859-1")
tripdata_201907_df = pd.read_csv(tripdata_201907, encoding="ISO-8859-1")





tripdata_201801_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [17]:
# make sure colums are the same across years part 1
tripdata_201801_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [18]:
# make sure columns are the same across years part 2
tripdata_201901_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [19]:
# Import ridership source data (csv files)

rider2018_JanMar = 'ridership_data-2018_jan-mar.csv'
rider2018_AprJun = 'ridership_data-2018_apr-jun.csv'
rider2018_JulSep = 'ridership_data-2018_jul-sep.csv'
rider2018_OctDec = 'ridership_data-2018_oct-dec.csv'
rider2019_JanMar = 'ridership_data-2019_jan-mar.csv'
rider2019_AprJun = 'ridership_data-2019_apr-jun.csv'


# Convert ridership source data csv to data frames

rider2018_JanMar_df = pd.read_csv(rider2018_JanMar, encoding="ISO-8859-1")
rider2018_AprJun_df = pd.read_csv(rider2018_AprJun, encoding="ISO-8859-1")
rider2018_JulSep_df = pd.read_csv(rider2018_JulSep, encoding="ISO-8859-1")
rider2018_OctDec_df = pd.read_csv(rider2018_OctDec, encoding="ISO-8859-1")
rider2019_JanMar_df = pd.read_csv(rider2019_JanMar, encoding="ISO-8859-1")
rider2019_AprJun_df = pd.read_csv(rider2019_AprJun, encoding="ISO-8859-1")

rider2018_JanMar_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0

In [20]:
# make sure colums are the same across years part 1
rider2018_JanMar_df.columns

Index(['Date', 'Trips over the past 24-hours (midnight to 11:59pm)',
       'Miles traveled today (midnight to 11:59 pm)',
       'Total Annual Members (All Time)',
       '24-Hour Passes Purchased (midnight to 11:59 pm)',
       '3-Day Passes Purchased (midnight to 11:59 pm)'],
      dtype='object')

In [21]:
# make sure colums are the same across years part 2
rider2019_JanMar_df.columns

Index(['Date', 'Trips over the past 24-hours (midnight to 11:59pm)',
       'Miles traveled today (midnight to 11:59 pm)',
       'Total Annual Members (All Time)',
       '24-Hour Passes Purchased (midnight to 11:59 pm)',
       '3-Day Passes Purchased (midnight to 11:59 pm)'],
      dtype='object')

# COMBINE TRIP DATA FILES

In [22]:
# path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("*.csv")



trip_files = glob.glob("*tripdata*")
rider_files = glob.glob("*rider*")
li = []
    
print(trip_files)
print(rider_files)

for filename in all_files:
    all_tripdata_df = pd.read_csv(filename, index_col=None, header=0)
    li.append(all_tripdata_df)

trips_2018_2019_df = pd.concat(li, axis=0, ignore_index=True)

['JC-201902-citibike-tripdata.csv', 'JC-201801-citibike-tripdata.csv', 'JC-201809-citibike-tripdata.csv', 'JC-201803-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-201906-citibike-tripdata.csv', 'JC-201811-citibike-tripdata.csv', 'JC-201807-citibike-tripdata.csv', 'JC-201904-citibike-tripdata.csv', 'JC-201808-citibike-tripdata.csv', 'JC-201903-citibike-tripdata.csv', 'JC-201901-citibike-tripdata.csv', 'JC-201802-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 'JC-201907-citibike-tripdata.csv', 'JC-201812-citibike-tripdata.csv', 'JC-201806-citibike-tripdata.csv', 'JC-201905-citibike-tripdata.csv', 'JC-201810-citibike-tripdata.csv']
['ridership_data-2019_apr-jun.csv', 'ridership_data-2018_oct-dec.csv', 'ridership_data-2019_jan-mar.csv', 'ridership_data-2018_jul-sep.csv', 'ridership_data-2018_apr-jun.csv', 'ridership_data-2018_jan-mar.csv']

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [23]:
trips_2018_2019_df

,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Column 1,Date,Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),Trips over the past 24-hours (midnight to 11:59pm),bikeid,birth year,end station id,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,1466.0,76.0,undefined,4/1/19,75072.0,303223.0,51399.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1483.0,73.0,undefined,4/2/19,83399.0,303386.0,57903.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3013.0,79.0,undefined,4/3/19,108780.0,303552.0,67924.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2633.0,87.0,undefined,4/4/19,104268.0,303699.0,66403.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,812.0,46.0,undefined,4/5/19,46930.0,303766.0,34470.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8852.0,139.0,undefined,4/6/19,143054.0,303958.0,66532.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8191.0,87.0,undefined,4/7/19,138291.0,304216.0,64713.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3804.0,89.0,undefined,4/8/19,123304.0,304525.0,70514.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1684.0,79.0,undefined,4/9/19,86248.0,304677.0,59336.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2845.0,116.0,undefined,4/10/19,112985.0,304865.0,70988.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2222.0,93.0,undefined,4/11/19,93232.0,305003.0,62430.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2811.0,118.0,undefined,4/12/19,92517.0,305134.0,58010.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10443.0,128.0,undefined,4/13/19,159264.0,305362.0,71500.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7263.0,119.0,undefined,4/14/19,123470.0,305584.0,58474.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1816.0,75.0,undefined,4/15/19,71673.0,305722.0,45663.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3197.0,134.0,undefined,4/16/19,106799.0,305906.0,63323.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,3276.0,89.0,undefined,4/17/19,109668.0,306077.0,65249.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2845.0,104.0,undefined,4/18/19,98909.0,306205.0,61568.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,5782.0,271.0,undefined,4/19/19,120796.0,306365.0,64939.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4049.0,115.0,undefined,4/20/19,68489.0,306453.0,36785.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7439.0,140.0,undefined,4/21/19,114490.0,306647.0,51869.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,3426.0,69.0,undefined,4/22/19,71869.0,306827.0,44112.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,5928.0,202.0,undefined,4/23/19,143334.0,307082.0,75443.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,5868.0,135.0,undefined,4/24/19,144473.0,307320.0,77736.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3569.0,114.0,undefined,4/25/19,101124.0,307484.0,60834.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1387.0,76.0,undefined,4/26/19,55000.0,307578.0,37121.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,7022.0,151.0,undefined,4/27/19,111440.0,307737.0,56442.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,3338.0,87.0,undefined,4/28/19,68976.0,307862.0,41204.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2829.0,104.0,undefined,4/29/19,98707.0,308020.0,60801.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2715.0,94.0,undefined,4/30/19,99225.0,308192.0,62668.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568602,21.0,7.0,NaN,3/2/2018,23277.0,256050.0,6855.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568603,851.0,56.0,NaN,3/3/2018,61107.0,256117.0,28361.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568604,704.0,33.0,NaN,3/4/2018,60490.0,256189.0,25262.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568605,357.0,47.0,NaN,3/5/2018,75190.0,256263.0,36774.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568606,516.0,27.0,NaN,3/6/2018,80995.0,256307.0,42688.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568607,16.0,7.0,NaN,3/7/2018,22312.0,256333.0,8188.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568608,188.0,17.0,NaN,3/8/2018,53403.0,256360.0,28440.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568609,344.0,43.0,NaN,3/9/2018,70068.0,256393.0,34912.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568610,689.0,43.0,NaN,3/10/2018,59343.0,256438.0,25443.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568611,1173.0,46.0,NaN,3/11/2018,67622.0,256517.0,27596.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568612,351.0,39.0,NaN,3/12/2018,76569.0,256578.0,36339.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568613,133.0,14.0,NaN,3/13/2018,46021.0,256623.0,23137.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568614,269.0,39.0,NaN,3/14/2018,62352.0,256673.0,35377.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568615,462.0,66.0,NaN,3/15/2018,72192.0,256724.0,39572.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568616,383.0,55.0,NaN,3/16/2018,62381.0,256763.0,34921.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568617,1015.0,56.0,NaN,3/17/2018,62524.0,256823.0,27671.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568618,839.0,36.0,NaN,3/18/2018,55182.0,256880.0,25158.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568619,544.0,39.0,NaN,3/19/2018,83086.0,256933.0,39278.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568620,187.0,17.0,NaN,3/20/2018,69573.0,256986.0,35532.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568621,3.0,1.0,NaN,3/21/2018,11799.0,257004.0,3755.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568622,216.0,25.0,NaN,3/22/2018,61715.0,257040.0,27308.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568623,543.0,55.0,NaN,3/23/2018,77668.0,257098.0,38527.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568624,1755.0,88.0,NaN,3/24/2018,79562.0,257167.0,34396.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568625,710.0,24.0,NaN,3/25/2018,62656.0,257226.0,25562.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568626,718.0,87.0,NaN,3/26/2018,88831.0,257315.0,40295.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568627,524.0,63.0,NaN,3/27/2018,88986.0,257378.0,41354.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568628,586.0,64.0,NaN,3/28/2018,80607.0,257447.0,41880.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568629,544.0,65.0,NaN,3/29/2018,84590.0,257501.0,39288.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568630,1006.0,147.0,NaN,3/30/2018,78825.0,257584.0,34784.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568631,3856.0,151.0,NaN,3/31/2018,109399.0,257701.0,41779.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# save combined trip data files to csv
trips_2018_2019_df.to_csv('all_trips_2018_2019')

# COMBINE RIDER DATA FILES

In [25]:
path = '../rider/*' # use your path
print(path)
all_rider_files = glob.glob(path) #+ "/*.csv")
print(all_rider_files)

../rider/*
[]

In [26]:
rider_li = []

for file in rider_files:
    all_riderdata_df = pd.read_csv(file, index_col=None, header=0)
    rider_li.append(all_riderdata_df)

rider_2018_2019_df = pd.concat(rider_li, axis=0, ignore_index=True)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

In [27]:
rider_2018_2019_df

,24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Column 1,Date,Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),Trips over the past 24-hours (midnight to 11:59pm)
0,1466,76,undefined,4/1/19,75072,303223,51399
1,1483,73,undefined,4/2/19,83399,303386,57903
2,3013,79,undefined,4/3/19,108780,303552,67924
3,2633,87,undefined,4/4/19,104268,303699,66403
4,812,46,undefined,4/5/19,46930,303766,34470
5,8852,139,undefined,4/6/19,143054,303958,66532
6,8191,87,undefined,4/7/19,138291,304216,64713
7,3804,89,undefined,4/8/19,123304,304525,70514
8,1684,79,undefined,4/9/19,86248,304677,59336
9,2845,116,undefined,4/10/19,112985,304865,70988
10,2222,93,undefined,4/11/19,93232,305003,62430
11,2811,118,undefined,4/12/19,92517,305134,58010
12,10443,128,undefined,4/13/19,159264,305362,71500
13,7263,119,undefined,4/14/19,123470,305584,58474
14,1816,75,undefined,4/15/19,71673,305722,45663
15,3197,134,undefined,4/16/19,106799,305906,63323
16,3276,89,undefined,4/17/19,109668,306077,65249
17,2845,104,undefined,4/18/19,98909,306205,61568
18,5782,271,undefined,4/19/19,120796,306365,64939
19,4049,115,undefined,4/20/19,68489,306453,36785
20,7439,140,undefined,4/21/19,114490,306647,51869
21,3426,69,undefined,4/22/19,71869,306827,44112
22,5928,202,undefined,4/23/19,143334,307082,75443
23,5868,135,undefined,4/24/19,144473,307320,77736
24,3569,114,undefined,4/25/19,101124,307484,60834
25,1387,76,undefined,4/26/19,55000,307578,37121
26,7022,151,undefined,4/27/19,111440,307737,56442
27,3338,87,undefined,4/28/19,68976,307862,41204
28,2829,104,undefined,4/29/19,98707,308020,60801
29,2715,94,undefined,4/30/19,99225,308192,62668
...,...,...,...,...,...,...,...
496,21,7,NaN,3/2/2018,23277,256050,6855
497,851,56,NaN,3/3/2018,61107,256117,28361
498,704,33,NaN,3/4/2018,60490,256189,25262
499,357,47,NaN,3/5/2018,75190,256263,36774
500,516,27,NaN,3/6/2018,80995,256307,42688
501,16,7,NaN,3/7/2018,22312,256333,8188
502,188,17,NaN,3/8/2018,53403,256360,28440
503,344,43,NaN,3/9/2018,70068,256393,34912
504,689,43,NaN,3/10/2018,59343,256438,25443
505,1173,46,NaN,3/11/2018,67622,256517,27596
506,351,39,NaN,3/12/2018,76569,256578,36339
507,133,14,NaN,3/13/2018,46021,256623,23137
508,269,39,NaN,3/14/2018,62352,256673,35377
509,462,66,NaN,3/15/2018,72192,256724,39572
510,383,55,NaN,3/16/2018,62381,256763,34921
511,1015,56,NaN,3/17/2018,62524,256823,27671
512,839,36,NaN,3/18/2018,55182,256880,25158
513,544,39,NaN,3/19/2018,83086,256933,39278
514,187,17,NaN,3/20/2018,69573,256986,35532
515,3,1,NaN,3/21/2018,11799,257004,3755
516,216,25,NaN,3/22/2018,61715,257040,27308
517,543,55,NaN,3/23/2018,77668,257098,38527
518,1755,88,NaN,3/24/2018,79562,257167,34396
519,710,24,NaN,3/25/2018,62656,257226,25562
520,718,87,NaN,3/26/2018,88831,257315,40295
521,524,63,NaN,3/27/2018,88986,257378,41354
522,586,64,NaN,3/28/2018,80607,257447,41880
523,544,65,NaN,3/29/2018,84590,257501,39288
524,1006,147,NaN,3/30/2018,78825,257584,34784
525,3856,151,NaN,3/31/2018,109399,257701,41779

In [28]:
os.getcwd()

'/Users/rj/Desktop/TableauHomework'

# MERGE FILES

In [42]:
# test data availability in first 10 rows of trip data file
tripdata_201811_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1